@layer theme, reset, base, layout, components, utilities;

/* theme variables */
@layer theme {

    /* default theme */
    :root {
        color-scheme: light;

        /* color */
        --bg-base: #d7dde4;
        --bg-surface: #eff2f4;
        --bg-raised: #fafafa;
        --fg-stress: #3b5183;
        --fg-default: #22303e;
        --fg-muted: #5c6b7a;
        --fg-error: #e00;

        /* button background color */
        --btn-bg-active-base: #000;
        --btn-bg-default-active: color-mix(in srgb,
                transparent,
                var(--btn-bg-active-base) 15%);
        --btn-bg-raised-active: color-mix(in srgb,
                var(--bg-raised),
                transparent 60%);
        --btn-bg-selected: color-mix(in srgb,
                var(--bg-raised),
                var(--border-focus-color) 30%);
        --btn-bg-selected-active: color-mix(in srgb,
                var(--btn-bg-selected),
                transparent 30%);

        /* border */
        --border-style: 1px solid;
        --border-default-color: #c4c4c480;
        --border-strong-color: #adadada8;
        --border-focus-color: color-mix(in srgb, var(--fg-stress), transparent 50%);
        --border-default: var(--border-style) var(--border-default-color);
        --border-strong: var(--border-style) var(--border-strong-color);
        --border-focus: var(--border-style) var(--border-focus-color);

        /* rounded corner */
        --radius-small: 3px;
        --radius-medium: 5px;
        --radius-large: 8px;
    }

    /* follow system dark theme */
    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;

            /* color */
            --bg-base: #1e2228;
            --bg-surface: #262b33;
            --bg-raised: #2f363f;
            --fg-stress: #6cf;
            --fg-default: #bcc9d4;
            --fg-muted: #8e9ba7;
            --fg-error: #e00;

            /* button background color */
            --btn-bg-active-base: #fff;
            --btn-bg-default-active: color-mix(in srgb,
                    transparent,
                    var(--btn-bg-active-base) 15%);
            --btn-bg-raised-active: color-mix(in srgb,
                    var(--bg-raised),
                    transparent 60%);
            --btn-bg-selected: color-mix(in srgb,
                    var(--bg-raised),
                    var(--border-focus-color) 30%);
            --btn-bg-selected-active: color-mix(in srgb,
                    var(--btn-bg-selected),
                    transparent 30%);

            /* border */
            --border-default-color: #42424280;
            --border-strong-color: #5f5f5fa8;
            --border-focus-color: color-mix(in srgb, var(--fg-stress), transparent 50%);
        }
    }

    /* light theme */
    :root[data-theme="light"] {
        color-scheme: light;

        /* color */
        --bg-base: #d7dde4;
        --bg-surface: #eff2f4;
        --bg-raised: #fafafa;
        --fg-stress: #3b5183;
        --fg-default: #22303e;
        --fg-muted: #5c6b7a;
        --fg-error: #e00;

        /* button background color */
        --btn-bg-active-base: #999;
        --btn-bg-default-active: color-mix(in srgb,
                transparent,
                var(--btn-bg-active-base) 15%);
        --btn-bg-raised-active: color-mix(in srgb,
                var(--bg-raised),
                var(--border-focus-color) 20%);
        --btn-bg-selected: color-mix(in srgb,
                var(--bg-raised),
                var(--border-focus-color) 30%);
        --btn-bg-selected-active: color-mix(in srgb,
                var(--btn-bg-selected),
                var(--border-focus-color) 10%);

        /* border */
        --border-style: 1px solid;
        --border-default-color: #c4c4c480;
        --border-strong-color: #adadada8;
        --border-focus-color: color-mix(in srgb, var(--fg-stress), transparent 50%);
        --border-default: var(--border-style) var(--border-default-color);
        --border-strong: var(--border-style) var(--border-strong-color);
        --border-focus: var(--border-style) var(--border-focus-color);

        /* rounded corner */
        --radius-small: 3px;
        --radius-medium: 5px;
        --radius-large: 8px;
    }

    /* dark theme */
    :root[data-theme="dark"] {
        color-scheme: dark;

        /* color */
        --bg-base: #1e2228;
        --bg-surface: #262b33;
        --bg-raised: #2f363f;
        --fg-stress: #6cf;
        --fg-default: #bcc9d4;
        --fg-muted: #8e9ba7;
        --fg-error: #e00;

        /* button background color */
        --btn-bg-active-base: #fff;
        --btn-bg-default-active: color-mix(in srgb,
                transparent,
                var(--btn-bg-active-base) 15%);
        --btn-bg-raised-active: color-mix(in srgb,
                var(--bg-raised),
                transparent 60%);
        --btn-bg-selected: color-mix(in srgb,
                var(--bg-raised),
                var(--border-focus-color) 30%);
        --btn-bg-selected-active: color-mix(in srgb,
                var(--btn-bg-selected),
                transparent 30%);

        /* border */
        --border-default-color: #42424280;
        --border-strong-color: #5f5f5fa8;
        --border-focus-color: color-mix(in srgb, var(--fg-stress), transparent 50%);
    }
}

/* reset Webview default behaviours to align with intuition */
@layer reset {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    button {
        font: inherit;
        color: inherit;
        background: transparent;
        border: none;
    }

    input {
        background: transparent;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

/* element default behaviours for this app */
@layer base {

    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    body {
        background: var(--bg-base);
        color: var(--fg-default);
        font-family: system-ui, sans-serif;
        line-height: 1.5;
    }

    button {
        transition: background-color 0.35s ease;

        &:hover {
            background: var(--btn-bg-default-active);
            cursor: pointer;
            transition: background-color 0.05s ease;
        }
    }

    :not(input):focus-visible {
        outline: 2px solid var(--fg-stress);
    }

    .icon {
        display: block;
    }

    /* scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 2px;
    }

    .is-scrolling::-webkit-scrollbar-thumb {
        background: #5f5f5f5f;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7a7a7a96;
    }
}

/* page and elemant layout */
@layer layout {

    body {
        --sidebar-width: 230px;
        --sidebar-min-width: 150px;
        --sidebar-max-width: 400px;
        --sidebar-resizer-width: 6px;

        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-rows: 1fr;
        grid-template-columns: var(--sidebar-width) 1fr;

        &.is-collapsed {
            --sidebar-width: 40px;
        }
    }

    /* sidebar */
    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
    }

    .sidebar__header {
        display: flex;
        justify-content: flex-end;
    }

    .sidebar__toggle {
        display: flex;
        justify-content: center;
    }

    .sidebar__main {
        flex: 1;
        display: flex;
        flex-direction: column;

        >section>header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            >button {
                display: flex;
            }
        }
    }

    .setting__list {
        display: flex;

        button {
            display: flex;
        }
    }

    .source__list {
        display: flex;
        flex-direction: column;
    }

    .source__name,
    .source__desc {
        display: block;
    }

    /* main */
    .main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    .query {
        display: flex;
    }

    .query__input {
        flex: 1;
    }

    .query__button {
        flex: 0 0 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .query__result {
        display: flex;
        flex-direction: column;
    }

    .phonetic {
        display: flex;
        align-items: center;
    }

    .phonetic__player {
        display: flex;
    }
}

/* component styles */
@layer components {

    /*sidebar */
    .sidebar {
        position: relative;
        border-right: var(--border-default);

        /* open scrollbar */
        min-height: 0;
    }

    .sidebar__resizer {
        position: absolute;
        top: 0;
        right: calc(0px - var(--sidebar-resizer-width));
        width: var(--sidebar-resizer-width);
        height: 100%;
        border-radius: var(--radius-medium);
        cursor: col-resize;
        transition: background-color 0.35s ease;
        z-index: 1;

        &:hover {
            background: #a7abae66;
        }

        body.is-collapsed & {
            display: none;
        }
    }

    .sidebar__header {
        margin: 6px;
    }

    .sidebar__toggle {
        position: relative;
        color: var(--fg-stress);
        border-radius: var(--radius-large);

        &::after {
            content: attr(data-title);
            position: absolute;
            z-index: 1;
            top: calc(100% + 6px);
            padding: 4px 10px 6px;
            border: var(--border-default);
            border-radius: 4px;
            background: var(--bg-surface);
            color: var(--fg-muted);
            font-size: 12px;
            white-space: nowrap;
            pointer-events: none;
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 0.15s ease, transform 0.15s ease;
        }

        &:hover::after {
            opacity: 1;
            transform: scale(1);
        }

        body.is-collapsed & .icon {
            transform: rotate(180deg);
        }

        body.is-collapsed &::after {
            left: 0;
        }
    }

    body {
        transition: grid-template-columns 0.2s ease;
    }

    .sidebar__main {
        gap: 6px;

        /* open scrollbar */
        min-height: 0;
        overflow-y: auto;
        scrollbar-gutter: stable;
        transition: visibility 0s 0.2s;

        body.is-collapsed & {
            visibility: hidden;
            transition: visibility 0s 0s;
        }

        >section {
            margin: 0 6px;
            padding: 5px;
            background: var(--bg-surface);
            border-radius: var(--radius-medium);
            font-size: 0.9em;

            h2 {
                color: var(--fg-stress);
            }

            >header {

                >button {
                    border-radius: var(--radius-large);
                }

                .icon {
                    transform: rotate(0deg);
                    transition: transform 0.2s ease;
                }
            }

            &.is-collapsed {

                >*:not(header) {
                    display: none;
                }

                >header .icon {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .setting__list {
        gap: 4px;

        button {
            padding: 3px;
            border-radius: var(--radius-large);
            background: var(--bg-raised);

            &:hover {
                background: var(--btn-bg-raised-active);
            }
        }
    }

    .setting__theme .icon:not(.setting__sys-theme) {
        display: none;
    }

    .source__current {
        font-size: 0.7em;

        >strong {
            margin-left: 3px;
            padding: 0 6px;
            border-radius: var(--radius-small);
            background: var(--bg-raised);
        }
    }

    .source__list {
        margin-top: 6px;
        padding: 4px;
        gap: 6px;

        button {
            width: 100%;
            padding: 4px;
            background: var(--bg-raised);
            border: var(--border-style) var(--bg-raised);
            border-radius: var(--radius-small);
            color: var(--fg-stress);
            text-align: left;

            &:hover {
                border: var(--border-style) var(--btn-bg-raised-active);
                background: var(--btn-bg-raised-active);
            }

            &.is-selected {
                background: var(--btn-bg-selected);
                border: var(--border-focus);

                &:hover {
                    background: var(--btn-bg-selected-active);
                }
            }
        }
    }

    .source__desc {
        opacity: 0.7;
        white-space: pre-line;
    }

    /* main */
    .main {
        margin: 8px;
        margin-bottom: 0;
        background: var(--bg-surface);
        border-radius: var(--radius-medium) var(--radius-medium) 0 0;

        /* open scrollbar */
        min-height: 0;
    }

    .query {
        margin: 4px;
        border: var(--border-strong);
        border-radius: var(--radius-medium);

        &:focus-within {
            border: var(--border-focus);
        }
    }

    .query__input {
        padding-left: 5px;
        color: var(--fg-stress);

        &::placeholder {
            color: var(--fg-muted);
            opacity: 0.5;
        }
    }

    .query__button {
        position: relative;
        margin: 4px;
        padding-bottom: 2px;
        border-radius: var(--radius-small);
        color: var(--fg-stress);

        &:active,
        &:disabled {
            background: var(--btn-bg-default-active);
        }

        .icon {
            width: 15px;
            height: 15px;
            transform: translate(1px, 1px);
        }

        &::before {
            content: "";
            position: absolute;
            left: -4px;
            top: 10%;
            bottom: 10%;
            width: 1px;
            background: var(--border-strong-color);
        }
    }

    .query__result {
        padding: 6px;
        padding-right: 3px;
        gap: 6px;

        /* open scrollbar */
        min-height: 0;
        overflow-y: auto;
        scrollbar-gutter: stable;

        >h1,
        >section {
            padding: 3px 6px;
            border-radius: var(--radius-medium);
            background: var(--bg-raised);
        }

        >h1 {
            color: var(--fg-stress);
        }

        >section h2 {
            color: var(--fg-stress);
        }

        .text {
            margin: 10px 0;

            &.stress {
                font-size: 1.3em;
                color: color-mix(in srgb, var(--fg-default), var(--fg-stress) 40%);
            }

            &.muted {
                font-size: 0.7em;
                color: var(--fg-muted);
            }
        }

        .phonetic {
            gap: 6px;
            color: var(--fg-muted);
            font-size: 0.7em;
        }

        .phonetic__player {
            border-radius: var(--radius-large);
            color: var(--fg-stress);

            &:active {
                color: var(--fg-default);
            }

            &:disabled {
                color: var(--fg-muted);

                .icon {
                    display: none;
                }

                .volume-1 {
                    display: block;
                }
            }

            .icon:not(.volume2) {
                display: none;
            }
        }

        .link {

            a {
                font-size: 0.8em;
            }

            a:link,
            a:visited {
                color: var(--fg-stress);
                opacity: 0.7;
                text-decoration: underline dotted;
                text-underline-offset: 0.25em;
            }

            a:hover {
                text-decoration: underline;
            }

            a:active {
                opacity: 1;
            }
        }

        &.is-error {

            >section {
                color: color-mix(in srgb, var(--fg-error), var(--fg-default) 80%);

                >h2 {
                    color: var(--fg-error);
                }
            }
        }
    }
}

/* element special behaviours */
@layer utilities {

    .u-button-feedback:active,
    .u-button-feedback:disabled {
        color: color-mix(in srgb, var(--fg-stress), var(--fg-muted) 70%);
    }

    .u-no-transition {
        transition: none;
    }

    .u-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}