* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

button {
    background: transparent;
    color: inherit;
    font: inherit;
    border: none;
}

button:hover {
    cursor: pointer;
    background: #8e8e8e3f;;
}